<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIECORN - Library</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/copy.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close" />
  </head>
  <body>

    <header class="centered-row">
      <a href="/inicio">
        <div class="logo centered-row">
          <span id="movie">MOVIE</span>
          <span id="corn">CORN</span>
        </div>
      </a>
    </header>

    <main>

      <div class="container">
        <img src="<%= copy.imagen %>" alt="Imagen de <%= copy.titulo %>">
        <h2><%= copy.titulo %></h2>
        <h3><%= copy.anho %> [<%= copy.tipo %>] [<%= copy.estado %>]</h3>
        <h3><%= copy.generos %></h3>
        <h3><%= copy.director %></h3>
        <p><%= copy.descripcion %></p>
        <a class="btn centered-row" href="">
          <span class="material-symbols-outlined">close</span>
        </a>
      </div>
    </main>

    <script>

      const btn = document.querySelector("div.container a.btn");
      let splitUrl = window.location.href.split("/");
      let user = splitUrl[splitUrl.length - 2];

      btn.href = "/library/" + user;

      let logo = document.querySelector("header a");
      logo.href = "/inicio/" + user;

    </script>

  </body>
</html>