<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIECORN - Library</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/library.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close" />
  </head>
  <body>

    <header class="centered-row">
      <a href="/inicio">
        <div class="logo centered-row">
          <span id="movie">MOVIE</span>
          <span id="corn">CORN</span>
        </div>
      </a>
    </header>

    <div class="container">

      <aside>

        <h2>Biblioteca de <%= user %></h2>
        <ul>

          <% for (const movie of library) { %>
            <li><a href="<%= movie.id %>"><%= movie.titulo %></a></li>
          <% } %>

        </ul>

      </aside>

      <main>

        <h2>Mis copias de peliculas:</h2>
        <div class="copiesContainer">
        <% for (const movie of library) { %>
          <div class="movie <%= movie.id %>">
            <img src="<%= movie.imagen %>" alt="Imagen de <%= movie.titulo %>">
            <div class="inner">
              <div>
                <h2><%= movie.titulo %></h2>
              </div>
            </div>
          </div> 
        <% } %>
        </div>
      </main>

    </div>

    <script>

      let splitUrl = window.location.href.split("/");
      let user = splitUrl[splitUrl.length - 1];

      let logo = document.querySelector("header a");
      logo.href = "/inicio/" + user;

      document.querySelectorAll("aside ul li a").forEach((e) => {
        let user = document.querySelector("aside h2").textContent.split(" ")[2];
        let movieID = e.href.split('/')[4];
        e.href = "/copy/" + user + "/" + movieID;
      });

      document.querySelectorAll("div.movie").forEach((e) => {
        e.addEventListener('click', () => {
          let user = document.querySelector("aside h2").textContent.split(" ")[2];
          let movieID = e.classList[1];
          window.location.href = "/copy/" + user + "/" + movieID;
        });
      });

    </script>
    
</body>
</html>